@model LaRutaNet.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compartidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compartidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contenido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasMedia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasMedia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePublicId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePublicId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Community)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Community.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioDestino.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
