@model IEnumerable<LaRutaNet.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Listado de Posts</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo Post</a>
</p>

<hr />


<h2>Posts de Comunidades</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Contenido</th>
            <th>Fecha Creación</th>
            <th>Comunidad</th>
            <th>Autor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(p => p.Type == "COMMUNITY"))
        {
            <tr>
                <td>@item.Contenido</td>
                <td>@item.FechaCreacion</td>
                <td>@item.Community?.Name</td>
                <td>@item.Author?.Id</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />


<h2>Posts de Servicios</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Contenido</th>
            <th>Fecha Creación</th>
            <th>Servicio</th>
            <th>Autor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(p => p.Type == "SERVICE"))
        {
            <tr>
                <td>@item.Contenido</td>
                <td>@item.FechaCreacion</td>
                <td>@item.Service?.Name</td>
                <td>@item.Author?.Id</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />


<h2>Posts de Usuarios</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Contenido</th>
            <th>Fecha Creación</th>
            <th>Usuario Destino</th>
            <th>Autor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(p => p.Type == "USER"))
        {
            <tr>
                <td>@item.Contenido</td>
                <td>@item.FechaCreacion</td>
                <td>@item.UsuarioDestino?.Username</td>
                <td>@item.Author?.Id</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
